SERVER_PORT=8082

DATABASE_URL=jdbc:postgresql://localhost:5432/tickets_db
DATABASE_USER=solutis
DATABASE_PASSWORD=solutis

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=solutis
RABBITMQ_PASSWORD=solutis

USER_SERVICE_URL=http://localhost:8081
